<!doctype html>
<html lang="en">
<head>
    <title>{% block page_title %}{% endblock %} - danieldevine.net</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <meta name="author" content="Daniel Devine">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://use.fontawesome.com/bfd5384799.js"></script>

    {% block optional_components %}{% endblock %} {# This block is if any optional CSS or JS files that may need to be loaded on a per template basis #}
    <!--[if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->
</head>

<body id="{% block page_id %}{% endblock %}">
    {% include 'homepage/base_navbar.html' %}
    {% block header %} {% endblock %}

    <main>
        {% block main_content %} {% endblock %}
    </main>
    <footer class="page-footer">
        <div class="container">
            <div class="row"></div>
        </div>
    </footer>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
{% load static %}
<script src="{% static 'js/materialize.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
{% block optional_js %}{% endblock %}
</html>