{% extends 'homepage/base.html' %}
{% block page_title %} {{ page_title }} {% endblock %}
{% block page_id %}home{% endblock %}
{% block header %}
<header>
    <div class="parallax-container">
        <div class="header-text center">
            <h1>Hi, this is my Portfolio Page</h1>
            <h2>Welcome to my site</h2>
        </div>
        <div class="parallax">
            {% load static %}
            <img src="{% static 'images/par_1.jpg' %}">
        </div>
    </div>
</header>
{% endblock %}
{% block main_content %}
{% if all_links %}
<article id="portfolio-links">
    {% for link in all_links %}
    {% if forloop.first %}<div class="row">{% endif %}
        <div class="col s12 m6 l6">
            <section class="show-box {{ link.optional_class }}">
                <div class="waves-effect waves-block waves-light">
                    <div class="link-text">
                        <h3>{{ link.link_name }}</h3>
                        <h4>{{ link.link_description }}</h4>
                    </div>
                    <img src="{{ MEDIA_URL }}{{ link.link_image }}" alt="{{ link.link_description }}">

                </div>
            </section>
        </div>
    {% if forloop.counter|divisibleby:2 %}</div><div class="row">{% endif %}
    {% endfor %}
</article>
{% else %}
<article><p>Unable to load details.... :-( </p></article>
{% endif %}
{% include 'homepage/home_contact_form.html' %}
{% endblock %}