{% extends 'homepage/base.html' %}
{% block page_title %} {{ page_title }} {% endblock %}
{% block main_content %}
{% if all_links %}
    <article id="portfolio-links" class="container">
        {% for link in all_links %}
        {% if forloop.first %}<div class="row">{% endif %}
            <div class="col s12 m6 l6">
                <section class="card {{ link.optional_class }}">
                    <div class="card-image  waves-effect waves-block waves-light">
                        <img class="activator large" src="media/{{ link.link_image }}" alt="{{ link.link_description }}">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">{{ link.link_name }}<i class="material-icons right">call_received</i></span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">{{ link.link_name }}<i class="material-icons right">close</i></span>
                      <p>{{ link.link_description }}</p>
                        <p><a href="{{link.link_url}}" target="_blank">Link <i class="material-icons">input</i></span></a></p>
                    </div>
                </section>
            </div>
        {% if forloop.counter|divisibleby:2 %}</div><div class="row">{% endif %}
        {% endfor %}
    </article>
{% else %}
    <article><p>Unable to load details.... :-( </p></article>
{% endif %}
{% include 'homepage/home_contact_form.html' %}
{% endblock %}