<section id="portfolio-links" class="scrolly-link">
    <header>
        <h2>Projects</h2>
    </header>
{% if all_links %}
    <div class="content">
        <p>Here are just a few things that I've made</p>
    </div>
    {% for link in all_links %}
    {% if forloop.first %}<div class="row">{% endif %}
        <div class="col s12 m6 l6">
            <section class="show-box {{ link.optional_class }}">
                    <div class="image-overlay">
                        <img src="{{ MEDIA_URL }}{{ link.link_image }}" alt="{{ link.link_description }}">
                        <div class="link-text">
                            <h3>{{ link.link_name }}</h3>
                            <h4>{{ link.link_description }}</h4>
                        </div>
                    </div>

            </section>
        </div>
    {% if forloop.counter|divisibleby:2 %}</div><div class="row">{% endif %}
    {% endfor %}
{% else %}
    <article><p>Unable to load details.... :-( </p></article>
{% endif %}
</section>